// Clearfix
@mixin clearfix() {
  &::after,
  ::before {
    content: "";
    display: table;
    clear: both;
  }
}

// Reset list
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Screen reader text
@mixin screen-reader() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

// Theme colors
@mixin theme-colors($theme) {
  background-color: map-get($theme, background-color);
  color: map-get($theme, text-color);
  
  h1, h2, h3, h4, h5, h6 {
    color: map-get($theme, heading-font-color);
  }
  
  a {
    color: map-get($theme, link-color);
    &:hover {
      color: map-get($theme, link-color-hover);
    }
  }
  
  input, textarea {
    border-color: map-get($theme, border-color);
  }
  
  hr {
    background: map-get($theme, border-color);
  }
  
  .footer {
    background: map-get($theme, footer-background);
    border-top-color: map-get($theme, border-color);
  }
  
  .post-title-box {
    border-top-color: map-get($theme, border-color);
  }
  
  .post__navigation {
    border-bottom-color: map-get($theme, border-color);
  }
  
  .article__content {
    background: rgba(map-get($theme, background-color), 0.98);
  }
  
  .search__input {
    background: map-get($theme, background-color);
    border-color: map-get($theme, border-color);
    color: map-get($theme, text-color);
  }
  
  .search__results {
    background: map-get($theme, background-color);
    border-color: map-get($theme, border-color);
  }
  
  .search__results-item {
    border-bottom-color: map-get($theme, border-color);
  }
  
  .pagination {
    border-top-color: map-get($theme, border-color);
  }
  
  .pagination__link {
    border-color: map-get($theme, border-color);
  }
  
  .top {
    background: map-get($theme, background-color);
    border-color: map-get($theme, border-color);
    color: map-get($theme, text-color);
  }
}
